.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

button {
  background-color: transparent;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0px 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;

  &:hover {
    color: red;
  }
}

.disabled-btn {
  cursor: auto;
}

.prev-page-btn,
.next-page-btn {
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
