.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

button {
  background-color: #efefef;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0px 0.3rem;
  cursor: pointer;
}

.disabled-btn {
  background-color: transparent;
  cursor: auto;
}
