.hero-component-wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;

  h3 {
    font-size: 2rem !important;
  }
}

.hero-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .hero-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100vw;
  }
}

@media (max-width: 600px) {
  .hero-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .hero-grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.out-of-calls {
  padding-top: 25px;
  padding-bottom: 75px;
  text-align: center;
}

.loader {
  margin: auto;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2.5s linear infinite; /* Safari */
  animation: spin 2.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-info-wrapper {
  margin-left: 10px;
  text-transform: uppercase;

  .hero-list-header {
    font-size: 1.5rem;
    padding: 1rem 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 15px;
      width: 3px;
      display: block;
      position: absolute;
      background-color: brown;
      transform: skewX(-45deg);
    }

    &::before {
      top: 0;
      left: 55px;
    }

    &::after {
      bottom: 0;
      left: 10px;
    }
  }

  .total-hero-info {
    margin: 1.5rem auto;
  }
}
